<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../icons/fontawesome-free-7.2.0-web/fontawesome-free-7.2.0-web/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>

<body>
    <!-- main numbers -->
    <section class="main-numbers py-12 bg-[var(--color-sixth)]">
        <div class="max-w-7xl mx-auto px-4 sm:px-6">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 lg:gap-4">
                <div class="flex justify-center items-center text-white">
                    <div class="counter-content text-center space-y-3">
                        <div class="counter-title text-4xl font-bold">الرقم الموحد</div>
                    </div>
                </div>
                <div class="flex justify-center items-center text-white">
                    <div class="counter-content text-center space-y-3">
                        <div class="counter-title text-4xl font-bold">920032893</div>
                    </div>
                </div>
                <div class="flex justify-center items-center text-white">
                    <div class="counter-content text-center space-y-3">
                        <div class="counter-title text-4xl font-bold">تابعونا</div>
                    </div>
                </div>
                <div class="flex justify-center items-center text-white">
                    <div class="social-media flex justify-center items-center gap-4">
                        <a href="#" class="cursor-pointer group">
                            <img src="../images/whatsapp.svg" alt=""
                                class="w-10 h-10 hover:scale-110 transition-all duration-300">
                        </a>
                        <a href="#" class="cursor-pointer group">
                            <img src="../images/tiktok.svg" alt=""
                                class="w-10 h-10 hover:scale-110 transition-all duration-300">
                        </a>
                        <a href="#" class="cursor-pointer group">
                            <img src="../images/snap.svg" alt=""
                                class="w-10 h-10 hover:scale-110 transition-all duration-300">
                        </a>
                        <a href="#" class="cursor-pointer group">
                            <img src="../images/insta.svg" alt=""
                                class="w-10 h-10 hover:scale-110 transition-all duration-300">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="bg-white pt-16 pb-6 border-t border-gray-100">
        <div class="max-w-[1400px] mx-auto px-4 sm:px-6">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10 sm:gap-6 mb-12">

                <!-- Col 1: Academy Info -->
                <div class="text-center sm:text-right ">
                    <h3 class="text-xl font-bold text-gray-600 font-['Arial']">منصة أطوار للتدريب</h3>
                    <div class="space-y-6">
                        <div class="text-gray-500 text-sm leading-5 mt-10 font-['Arial']">
                            <p><span class="text-md font-bold text-gray-700">موقع المعهد :</span></p>
                            <p>خميس مشيط - حي الضيافة -</p>
                            <p>طريق صلاح الدين الأيوبي</p>
                        </div>
                        <div class="text-gray-500 text-sm leading-5 font-['Arial']">
                            <p><span class="text-md font-bold text-gray-700">للاستفسارات والتواصل :</span></p>
                            <div class="phone flex items-center justify-center sm:justify-start gap-2">
                                <p class="text-gray-600">للاستفسارات والتواصل :</p>
                                <p>920032893</p>
                            </div>
                            <div class="email flex items-center justify-center sm:justify-start gap-2">
                                <p class="text-gray-600">الايميل :</p>
                                <p>phasestrain1@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Col 2: Privacy Links -->
                <div class="space-y-6 text-center sm:text-right font-['Arial']">
                    <h3 class="text-xl font-[700] text-gray-600 font-['Arial']">الحقوق والخصوصية</h3>
                    <ul class="space-y-2 text-sm text-gray-500">
                        <li><a href="#" class="hover:text-[var(--color-primary)] transition-colors duration-200">ميثاق
                                النزاهة الأكاديمية</a></li>
                        <li><a href="#" class="hover:text-[var(--color-primary)] transition-colors duration-200">سياسة
                                الخصوصية</a></li>
                        <li><a href="#" class="hover:text-[var(--color-primary)] transition-colors duration-200">سياسة
                                الحضور</a></li>
                        <li><a href="#" class="hover:text-[var(--color-primary)] transition-colors duration-200">سياسة
                                الدعم الفني</a></li>
                        <li><a href="#" class="hover:text-[var(--color-primary)] transition-colors duration-200">حقوق
                                الملكية الفكرية وحقوق النشر</a></li>
                        <li><a href="#" class="hover:text-[var(--color-primary)] transition-colors duration-200">فريق
                                الدعم الفني</a></li>
                    </ul>
                </div>

                <!-- Col 3: Useful Links -->
                <div class="space-y-6 text-center sm:text-right font-['Arial']">
                    <h3 class="text-xl font-bold text-gray-600 font-['Arial']">روابط تهمك</h3>
                    <ul class="space-y-2 text-sm text-gray-500">
                        <li><a href="#" class="hover:text-[var(--color-primary)] transition-colors duration-200">الأسئلة
                                الشائعة</a></li>
                        <li><a href="#" class="hover:text-[var(--color-primary)] transition-colors duration-200">الدعم
                                الفني</a></li>
                        <li><a href="#" class="hover:text-[var(--color-primary)] transition-colors duration-200">دليل
                                الاختبارات</a></li>
                        <li><a href="#" class="hover:text-[var(--color-primary)] transition-colors duration-200">البوابة
                                الالكترونية</a></li>
                        <li><a href="#" class="hover:text-[var(--color-primary)] transition-colors duration-200">الدعم
                                والتأهيل لبيئات التعلم الالكتروني</a></li>
                        <li><a href="#" class="hover:text-[var(--color-primary)] transition-colors duration-200">إدارة
                                نظام الفصول الافتراضية</a></li>
                    </ul>
                </div>

                <!-- Col 4: Map -->
                <div class="space-y-6 text-center sm:text-right">
                    <h3 class="text-xl font-bold text-gray-600 font-['Arial']">موقع المعهد</h3>
                    <div class="overflow-hidden border border-gray-200 h-60">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3710.0!2d42.7!3d18.3!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTjCsDE4JzAwLjAiTiA0MsKwNDInMDAuMCJF!5e0!3m2!1sar!2ssa!4v1"
                            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>

            </div>

        </div>
    </footer>
    <!-- Bottom Bar -->
    <div class="border-t border-gray-100 py-6 text-center bg-[#E6E6E6]">
        <p class="text-sm text-gray-400">جميع الحقوق محفوظة لدى منصة أطوار للتدريب @ 2026</p>
    </div>

</body>

</html>